
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: 'Do Hyeon', sans-serif;
}

.content-wrapper {
    height: 93vh;
    background: #f5f5f5;
}

nav {
    height: 7vh;
    font-size: 1.2rem;
}

.content {
    height: 100%;
    overflow: auto;
}

.post-conetnt {
    height: 300px;
    overflow: auto;
    border-radius: .75rem;
    border: 1px solid #ddd;
}

.comment-wrapper {
    background: #f5f5f5;
    border-radius: .5rem;
    min-height: 100px !important;
}

.comment {
    background: #fff;
    border-radius: .5rem;
}

.comment > div:last-child {
    text-align: right;
}

.card {
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 15%) !important;
}

.kakao-login {
    background: #ffff66 !important;
    border-color: #ffff66 !important;
    color: #000 !important;
}

