<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>SOULIKK</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="list.html">MinSeong Kim</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/}">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/write}">POSTS</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" th:href="@{/git}">GITHUB</a></li>
            </ul>
        </div>
    </div>
</nav>


<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>KMS</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-2 px-md-0">
    <div class="d-flex row">

        <a th:each="post : ${posts.dtoList}" class="card col-md-3 col-md-4 col-sm-6 h-auto border-0 p-1"
           style="cursor: pointer;" th:onclick="goPost([[${post.postId}]])">
            <div class="card-body">
                <img th:if="${post.imageDtoList.size() > 0 }" th:src="|/image/${post.imageDtoList[0].imageId }|" alt=""
                     class="w-100" style="height: 200px;">
                <h4 th:text="${post.title}"></h4>
                <span th:text="${post.createdAt}"></span>
            </div>
        </a>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${posts.prev}">
                <a class="page-link"
                   th:href="@{/board/list(page = ${posts.start -1}, type = ${pageRequestDto.type}, keyword = ${pageRequestDto.keyword})}"
                   tabindex="-1">
                    <
                </a>
            </li>
            <li th:class=" 'page-item ' + ${posts.page == page?'active':''}" th:each="page: ${posts.pageList}">
                <a class="page-link"
                   th:href="@{/board/list(page = ${page}, type = ${pageRequestDto.type}, keyword = ${pageRequestDto.keyword})}">
                    [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${posts.next}">
                <a class="page-link"
                   th:href="@{/board/list(page=${posts.end + 1}, type=${pageRequestDto.type}, keyword = ${pageRequestDto.keyword})}">
                    >
                </a>
            </li>
        </ul>
    </div>
</div>

<footer class="border-top">
    <div class="container px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">

                    <li class="list-inline-item">
                        <a href="mailto:newnormal17@naver.com">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script>
    function goPost(_postId) {
        location.href = "/post/" + _postId;
    }
</script>
</body>
</html>
