<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!--  icon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    * {
        font-family: 'Do Hyeon', sans-serif;
    }
    .content-wrapper {
        height: 93vh;
        background: #f5f5f5;
    }

    nav {
        height: 7vh;
        font-size: 1.2rem;
    }

    .content {
        height: 100%;
        overflow: auto;
    }
    .post-conetnt {
        height: 300px;
        overflow: auto;
        border-radius: .75rem;
        border: 1px solid #ebebeb;
    }
    .comment-wrapper {
        background: #f5f5f5;
        border-radius: .5rem;
    }
    .comment {
        background: #fff;
        border-radius: .5rem;
    }
    .comment > div:last-child {
        text-align: right;
    }
</style>
<body>
<div>
    <nav class="bg-dark d-flex align-items-center px-3">
        <div class="text-white">KMS BLOG</div>
    </nav>
    <div class="content-wrapper">
        <div class="content col-lg-8 m-auto bg-white p-4">

            <div>
                <h3 th:text="${post.title}" class="my-4 text-center text-primary fw-bold"></h3>
                <br>
<!--                <div th:text="${post.username}" class="text-right"></div>-->
                <div th:text="${post.content}" class="my-4 p-3 post-conetnt"></div>
            </div>
            <br>
            <h4 class="d-flex align-items-center justify-content-between pb-1">
                <div class="mr-3 pr-4">댓글</div>
                <button type="button" class="btn btn-outline-dark py-0 px-1" data-bs-toggle="modal" data-bs-target="#commentModal">
                    <i class="fa fa-comment"></i> 댓글작성
                </button>

                <!-- 댓글 폼 -->
                <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commentModalLabel">댓글 작성</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <textarea class="form-control w-100" name="comment" id="comment" rows="7"></textarea>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary mt-2 w-100">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 댓글 폼 -->

            </h4>

            <div class="comment-wrapper p-2">
                <table class="w-100">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>

                        <!-- 내 댓글 -->
                        <tr>
                            <td></td>
                            <td>
                                <div class="comment p-2">
                                    <div class="d-flex align-items-center justify-content-between pb-2">
                                        <div class="fw-bold">작성자</div>
                                        <a class="btn btn-outline-dark py-0 px-1">
                                            <i class="fa fa-trash"></i> 삭제
                                        </a>
                                    </div>
                                    <div>내용</div>
                                    <div>2021-07-07</div>
                                </div>
                            </td>
                        </tr>
                        <!-- // 내 댓글 -->

                        <!-- 다른사람 댓글 -->
                        <tr>
                            <td>
                                <div class="comment p-1">
                                    <div class="fw-bold pb-2">작성자</div>
                                    <div>내용</div>
                                    <div>2021-07-07</div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <!-- // 다른사람 댓글 -->


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
